/* --- Headings --- */
header{
  height: 100px;
  display: flex;
  justify-content: left;
  align-items: center;
}

h1 {
  padding: 20px 60px;
  font-size: 3rem;
  color: #e2c256;
  text-shadow: 2px 2px 0 #744d1e;
  display: inline-block;
  text-align: center;
  padding-bottom: 10px;
}

h2 {
  font-family: var(--font-family);
  font-size: 20px;
  color: var(--text-main);
  background: var(--highlight);
  display: inline-block;
  padding: 4px 12px;
  border-radius: var(--border-radius);
  margin-bottom: 8px;
  margin-top: 10px;
  border: 2px solid var(--accent);
}

header img{
  width: 80px;
  padding-left: 10px;
}

/* --- Navigation & Calendar --- */
#season-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;  
}

#calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --- Calendar Grid & Days --- */
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(120px, auto);
  padding: 8px;
  width: 86%;
  height: 620px;
  gap: 8px;
  border: 10px groove #b88645;
  background-color: #f3e4b1;
  box-shadow: inset 0 0 8px #a97442, 0 0 14px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  overflow: hidden;
}

.calendar-day {
  border-radius: 8px;
  padding: 6px;
  min-height: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff2c5;
  border: 3px solid #a67c52;
  transition: transform 0.2s ease;
  font-family: 'Verdana', sans-serif;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.calendar-day:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  background-color: #ffe6a7;
}

.day-header {
  font-weight: bold;
  border-bottom: 2px solid #ccc;
  color: #5c3b1e;
  text-shadow: 1px 1px 0 #fff;
  border-bottom: 2px dashed #c29d6b;
}


.calendar-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 87%;
  text-align: center;
  font-weight: bold;
  color: #5c3b1e;
  background-color: #f4e4c1;
  border-radius: 8px;
  padding: 6px 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  color: #5c3b1e;
  text-shadow: 1px 1px 0 #fff;
  border: 6px groove #b88645;
  border-radius: 12px;
  box-shadow: inset 0 0 8px #a97442, 0 0 14px rgba(0, 0, 0, 0.3);
  font-family: 'Verdana', sans-serif;
}